{% extends 'projectsApp/project.html' %}



{% import 'commonApp/comments.html' as comments %}



{% block content %}
	<article>
		{{ currentPage.render_content() | safe }}
	</article>
	
	{% if previousPage %}
		<a href="{{ previousPage.get_absolute_url() }}">{{ _('Previous: {0}').format( previousPage.full_name ) }}</a>
	{% endif %}
	
	{% if nextPage %}
		<a href="{{ nextPage.get_absolute_url() }}">{{ _('Next: {0}').format( nextPage.full_name ) }}</a>
	{% endif %}
	
	{% if not currentPage.draft %}
		{{ comments.section( currentPage.get_absolute_url(), self.title(), request.build_absolute_uri() ) }}
	{% endif %}
{% endblock %}