{% extends 'siteApp/base.html' %}



{% import 'commonApp/comments.html' as comments %}



{% block extraScripts %}{{ comments.script() }}{% endblock %}

{% block pageName %}post{% endblock %}
{% block title %}{{ post.title }} | {{ super() }}{% endblock %}

{% block bannerTitle %}{{ post.title }}{% endblock %}
{% block bannerText %}
	{% trans user = post.author.get_username(), isoTime = post.posted.isoformat(), date = post.posted.strftime( '%B %-d, %Y' ) %}
		by {{ user }} on <time datetime="{{ isoTime }}">{{ date }}</time> 
	{% endtrans %}
	{% if post.draft %}{{ _('(Draft)') }}{% endif %}
{% endblock %}
{% block bannerImage %}{{ post.banner.url }}{% endblock %}



{% block content %}
	<article>
		{{ post.render_content() | safe }}
	</article>
	
	{% if post.tags.all() %}
		<section>
			{{ _('Tags:') }}
			
			{% for tag in post.tags.all() -%}
				<a href="{{ url( 'blogApp:blog', kwargs = { 'tag_slug': tag.slug } ) }}" rel="tag">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
			{%- endfor %}
		</section>
	{% endif %}
	
	{% if not post.draft %}
		{{ comments.section( post.get_absolute_url(), self.title(), request.build_absolute_uri() ) }}
	{% endif %}
{% endblock %}