// 
// VAZ Projects
// 
// 
// Author: Marcelo Tellier Sartori Vaz <marcelotsvaz@gmail.com>



html, body { min-height: 100vh; }



body
{
	--width: 1200px;
	--margin: calc( ( 100% - var(--width) ) / 2 );
	
	display: grid;
	grid:
					"...			header			header			..."			auto
					"...			menu			menu			..."			auto
					"...			banner			banner			..."			auto
					"...			bannerHeader	bannerHeader	..."			auto
					"...			content			sidebar			..."			1fr
					"...			footer			footer			..."			auto
	/ [all-start]	var(--margin)	1fr				auto			var(--margin)	[all-end];
	
	background-color: @contentBackgroundColor;
	
	color: @headerTextColor;
}



.header
{
	grid-area: header;
	
	z-index: 1;	// Put .header above ::before, because ::before is sticky.
	
	.safeAreaPadding( 25px );
	
	a
	{
		font-size: 3rem;
		line-height: 50px;
		font-weight: bold;
		text-decoration: none;
	}
}



// TODO: Get rid of background stuff after fixing logo.
.menu
{
	@compactBreakpoint: 500px;
	@hamburgerBreakpoint: 400px;
	
	grid-area: menu;
	
	position: sticky;
	top: 0px;
	
	display: flex;
	// justify-content: space-between;
	
	// transition: background-position-x 0.5s;
	
	.safeAreaPadding( 0px );
	
	// background-image: linear-gradient( 115deg, @contentBackgroundColor 0vw 25vw, @headerBackgroundColor 50vw 100vw );
	// background-origin: border-box;
	// background-size: 150vw;
	
	.logoSmall
	{
		transition: opacity 0.5s, padding 0.5s step-start, visibility 0.5s step-start;
		
		img { height: 20px; }
	}
	
	&:not( .sticky )
	{
		// background-position-x: -50vw;
		
		.logoSmall
		{
			opacity: 0%;
			visibility: hidden;
			
			transition-timing-function: ease, step-end, step-end;
			
			// WebKit doesn't support visibility: collapse.
			width: 0px;
			padding: 0px;
		}
	}
	
	.menuItem, .menuButtons > *
	{
		padding: 10px 20px;
		
		line-height: 20px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		
		@media ( max-width: @compactBreakpoint ) { padding: 10px 10px; }
	}
	
	.hamburgerButton
	{
		flex-grow: 1;
		
		cursor: pointer;
		
		font-size: 20px;
		font-weight: normal;
		text-align: right;
		user-select: none;
		
		@media not all and ( max-width: @hamburgerBreakpoint ) { display: none; }
	}
	
	.menuButtons
	{
		display: flex;
		
		a:hover { background-color: darken( @headerBackgroundColor, 10% ); }
		
		@media ( max-width: @hamburgerBreakpoint )
		{
			position: absolute;
			top: 100%;
			right: 0px;
			
			flex-direction: column;
			
			clip-path: inset( 0px 0px -10px -10px );
			
			box-shadow: 0px 0px 5px 0px @headerTextColor;
			border-bottom-left-radius: 10px;
			
			background-color: @headerBackgroundColor;
			
			a
			{
				border-bottom: 1px solid darken( @headerBackgroundColor, 20% );
				.safeAreaPadding( 10px, 50px );
				padding-left: 50px;	// Remove safe-area padding from side that is not touching the screen's edge.
				
				&:first-child { .boxShadow( top, 5px, inset ); }
				
				&:last-child
				{
					border-bottom: none;
					border-bottom-left-radius: inherit;
				}
			}
		}
	}
	
	input[type=checkbox]
	{
		display: none;
		
		@media ( max-width: @hamburgerBreakpoint )
		{
			&:not( :checked ) + .menuButtons { display: none; }
		}
	}
}



// Use pseudo-element for .header and .menu background and box-shadow.
body::before
{
	.boxShadow( bottom, 5px );
	
	grid-row: header / menu;
	grid-column: all;
	
	content: "";
	
	position: sticky;
	top: -100px;	// Height of .header.
	
	background-color: @headerBackgroundColor;
}



.banner
{
	display: contents;
	
	img
	{
		grid-area: banner / all / bannerHeader;
		
		z-index: -1;
		
		object-fit: cover;
		
		width: 100%;
		height: 400px;
	}
	
	// Use pseudo-element for banner header background.
	&::before
	{
		grid-area: bannerHeader / all;
		
		content: "";
		
		background-color: hsla( 0, 0, 0, 0.5 );
	}
	
	div
	{
		grid-area: bannerHeader;
		
		.safeAreaPadding( 25px, 50px );
		
		color: hsl( 0, 0, 95% );
		
		h1
		{
			margin: 0px;
			border: none;
			
			line-height: 50px;
		}
		
		p
		{
			margin-bottom: 0px;
			
			line-height: 20px;
		}
	}
	
	// Use pseudo-element for .banner box-shadow.
	&::after
	{
		.boxShadow( bottom, 5px );
		
		grid-row: banner / bannerHeader;
		grid-column: all;
		
		content: "";
	}
}



.content
{
	grid-area: content;
	
	.safeAreaPadding( 25px, 50px );
	
	color: @contentTextColor;
	
	// Remove safe-area padding from side that is not touching the screen's edge, only when the sidebar is visible.
	// .sidebar is put before .content in the HTML for this to work.
	.sidebar + & { padding-right: 50px; }
}



.sidebar
{
	grid-area: sidebar;
	
	width: 250px;
	.safeAreaPadding( 25px );
	padding-left: 0px;	// Rely on .content padding-right and remove safe-area padding from side that is not touching the screen's edge.
	
	color: @contentTextColor;
	
	.search
	{
		input[type=search]
		{
			margin-bottom: 5px;
			width: 100%;
			height: 35px;
			padding: 5px 10px;
		}
		
		input[type=submit]
		{
			float: right;
			
			border: 1px solid;
			height: 35px;
			padding: 5px 10px;
			
			background-color: lighten( @headerBackgroundColor, 10% );
			
			font-weight: bold;
			color: inherit;
			
			&:hover { background-color: lighten( @headerBackgroundColor, 20% ); }
			
			&:focus
			{
				outline: 2px solid rgb( 0, 120, 215 );
				outline-offset: -1px;
			}
			
			&:active { transform: translateY( 2px ); }
		}
	}
}



.footer
{
	grid-area: footer;
	
	.safeAreaPadding( 25px );
	
	text-align: center;
	
	p:first-of-type
	{
		font-weight: bold;
		
		img { vertical-align: middle; }
	}
	
	img { display: inline; }
	
	hr
	{
		margin: 25px 0px;
		border: none;
		height: 1px;
		
		background-image: linear-gradient( to right, hsla( 0, 0, 0, 0 ), @headerTextColor 25% 75%, hsla( 0, 0, 0, 0 ) );
	}
}



// Use pseudo-element for .footer background and box-shadow.
body::after
{
	.boxShadow( top, 5px );
	
	grid-row: footer;
	grid-column: all;
	
	content: "";
	
	z-index: -1;	// Put ::after behind .footer.
	
	background-color: @headerBackgroundColor;
}